<div class="grid-container">

  <mat-grid-list cols="4" rowHeight="250px">

    <mat-grid-tile colspan=4 rowspan=2>

      <mat-card class="dashboard-card">

        <mat-card-header>

          <mat-card-title>

              <i class="material-icons">bar_chart</i>Bar Chart

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">

              <mat-icon>more_vert</mat-icon>

            </button>

            <mat-menu #menu="matMenu" xPosition="before">

              <button mat-menu-item>Expand</button>

              <button mat-menu-item>Remove</button>

            </mat-menu>

          </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <div style="display: block; width: 800px; height: 400px;">

          <canvas baseChart

          [datasets] = "barChartData"

          [labels] = "barChartLabel"

          [options] = "barChartOptions"

          [legend] = "barChartLegend"

          [chartType] = "barChartType"></canvas></div>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan=2 rowspan=2>

      <mat-card class="dashboard-card">

        <mat-card-header>

          <mat-card-title>

              <i class="material-icons">bubble_chart</i>Radar Chart

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">

              <mat-icon>more_vert</mat-icon>

            </button>

            <mat-menu #menu="matMenu" xPosition="before">

              <button mat-menu-item>Expand</button>

              <button mat-menu-item>Remove</button>

            </mat-menu>

          </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <div style="display: block; padding-top: 30px;">

          <canvas baseChart

          [datasets] = "radarChartData"

          [labels] = "radarChartLabel"

          [chartType] = "radarChartType"></canvas>

        </div>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan=2 rowspan=2>

      <mat-card class="dashboard-card">

        <mat-card-header>

          <mat-card-title>

              <i class="material-icons">pie_chart</i>Pie Chart

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">

              <mat-icon>more_vert</mat-icon>

            </button>

            <mat-menu #menu="matMenu" xPosition="before">

              <button mat-menu-item>Expand</button>

              <button mat-menu-item>Remove</button>

            </mat-menu>

          </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <div style="display: block; padding-top: 30px;">

                <canvas baseChart

                    [data] = "pieChartData"

                    [labels] = "pieChartLabel"

                    [chartType] = "pieChartType"></canvas>

            </div>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>



</div>